{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MySpace Wall</title>
  <link rel="stylesheet" href="{% static 'Screen/apps/browser/myspace.css' %}">
</head>
<body>
  <div class="browser-toolbar">
    <div class="browser-menu-row">
      <span class="browser-menu-item">File</span>
      <span class="browser-menu-item">Edit</span>
      <span class="browser-menu-item">View</span>
      <span class="browser-menu-item">Favourites</span>
      <span class="browser-menu-item">Tools</span>
      <span class="browser-menu-item">Help</span>
    </div>
    <div class="browser-icon-row">
      <img src="{% static 'icons/windowsIcons/back.png' %}" alt="Back" class="browser-toolbar-icon">
      <img src="{% static 'icons/windowsIcons/forward.png' %}" alt="Forward" class="browser-toolbar-icon">
      <img src="{% static 'icons/windowsIcons/stop.png' %}" alt="Stop" class="browser-toolbar-icon">
      <img src="{% static 'icons/windowsIcons/refresh.png' %}" alt="Refresh" class="browser-toolbar-icon">
      <img src="{% static 'icons/windowsIcons/home.png' %}" alt="Home" class="browser-toolbar-icon">
      <img src="{% static 'icons/windowsIcons/zoomin.png' %}" alt="Zoom In" class="browser-toolbar-icon"><span style="margin-right:10px; font-size:14px; color:#222;">Search</span>
      <img src="{% static 'icons/windowsIcons/favourites.png' %}" alt="Favourites" class="browser-toolbar-icon"><span style="margin-right:10px; font-size:14px; color:#222;">Favourites</span>
      <img src="{% static 'icons/windowsIcons/mail.png' %}" alt="Mail" class="browser-toolbar-icon">
    </div>
    <div class="browser-address-row">
      <label for="browser-address" class="browser-address-label">Address</label>
      <input id="browser-address" class="browser-address-input" type="text" value="https://www.myspace.com/YouKnowYouHateMe" />
      <img src="{% static 'icons/windowsIcons/searchgo.png' %}" alt="Go" class="browser-address-icon">
    </div>
  </div>
  <div class="myspace-container">
    <div class="myspace-wall-layout">
      <div class="myspace-wall-left">
        <div class="profile-box">
          <img src="{% static 'images/anonprofile.webp' %}" alt="Profile Photo" class="profile-photo" style="width:120px;height:120px;border:2px solid #ccc;background:#fff;">
          <div class="profile-info">
            <div class="profile-name">You Know You Hate Me</div>
            <div class="profile-details"><br>17 years old<br>Santa Monica, CALIFORNIA<br>United States</div>
            <div class="profile-last-login">Last Login:<br>11/03/2005</div>
            <div class="profile-mood">Mood: <span style="color:#e6b800;">busy <span style="font-size:16px;">&#9785;</span></span></div>
            <div class="profile-links"><a href="#">View My: Pics | Videos</a></div>
          </div>
        </div>
        <div class="contact-box">
          <div class="contact-title">Contacting You Know You Hate Me</div>
          <div class="contact-actions">
            <button>Send Message</button>
            <button>Add to Friends</button>
            <button>Instant Message</button>
            <button>Add to Group</button>
            <button>Forward to Friend</button>
            <button>Add to Favorites</button>
            <button>Block User</button>
            <button>Rank User</button>
          </div>
        </div>
        <div class="myspace-url-box">
          <div class="myspace-url-title">MySpace URL:</div>
          <input type="text" value="http://www.myspace.com/tom" readonly style="width:100%;font-size:12px;">
        </div>
        <div class="interests-box">
          <div class="interests-title">Interests</div>
          <div class="interests-section"><b>General</b>: Gossip, Drama, Ruining Lives, Spreading Rumors, Spilling Secrets.</div>
        </div>
      </div>
      <div class="myspace-wall-main">
        <div class="status-box">You Know You Hate Me testing out the new status</div>
        <div class="blog-box">
          <div class="blog-title">You Know You Hate Me's Latest Blog Entry <span style="font-size:12px;">[<a href="#">Subscribe to this Blog</a>]</span></div>
          <ul class="blog-list">
            <li>Savannah's pregnant, and spoiler alert, David is not the father! (<a href="#">view more</a>)</li>
            <li>Those bangs are not it, Veronica.(<a href="#">view more</a>)</li>
            <li>Melissa's got lice!!! Stay away. (<a href="#">view more</a>)</li>
            <li>I think Theo and Joey should save the physical activity for the locker room... (<a href="#">view more</a>)</li>
            <li>Have a secret? Message me. (<a href="#">view more</a>)</li>
          </ul>
          <div class="blog-all"><a href="#">[View All Blog Entries]</a></div>
        </div>
        <div class="blurbs-box">
          <div class="blurbs-title">You Know You Hate Me's Blurbs</div>
          <div class="blurbs-section"><b>About me:</b><br> <span style="background:#ffffcc;">Before asking me a question, please check the FAQ to see if your question has already been answered.</span><br><br>You've got a secret, and I want to spill it! Message me, do your worst, and watch them all burn!<br></div>
        </div>
        <div class="wall-actions">
          <button class="wall-btn">COMMENT</button>
          <button class="wall-btn">ADD TO PROFILE</button>
          <button class="wall-btn">MORE FROM USER</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
